executor: KubernetesExecutor

env:
  - name: AIRFLOW__CORE__LOAD_EXAMPLES
    value: "False"
  - name: AWS_DEFAULT_REGION
    value: "us-east-1"

webserver:
  env:
    - name: AIRFLOW__API__AUTH_BACKENDS
      value: "airflow.api.auth.backend.basic_auth"
    - name: AIRFLOW__WEBSERVER__EXPOSE_CONFIG
      value: "True"
    - name: AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX
      value: "True"
    - name: AIRFLOW__API__ENABLE_EXPERIMENTAL_API
      value: "True"

  service:
    type: LoadBalancer
    ports:
      - name: airflow-ui
        port: 8080

postgresql:
  enabled: false

data:
  metadataConnection:
    user: airflow
    pass: airflow
    protocol: postgresql
    host: host.docker.internal
    port: 5432
    db: airflow

dags:
  persistence:
    enabled: false
  gitSync:
    enabled: true
    repo: https://github.com/amosjames334/Cloud-Native-Medical-Data-ETL-Pipeline.git
    branch: main
    rev: HEAD
    depth: 1
    maxFailures: 0
    subPath: "dags"
    wait: 60
